include gdash/ui/*.json
include gdash/ui/*.html
include gdash/ui/*.png
include gdash/ui/*.js
include gdash/ui/*.txt
include gdash/ui/static/js/*.js
include gdash/ui/static/js/*.js.map
include gdash/ui/static/js/*.txt
include gdash/ui/static/css/*.css
include gdash/ui/static/css/*.css.map
include gdash/ui/static/media/*.svg
