[Unit]
Description=Gluster Dashboard
After=network.target

[Service]
PIDFile=/var/run/gluster/gdash.pid
ExecStart=/usr/sbin/gdash $(hostname)

[Install]
WantedBy=multi-user.target