<div class="last-updated">
  Last updated <strong></strong> <button {{action 'reload'}} class="pure-button pure-button-primary">reload</button>
</div>
<div id="layout" class="content pure-g">
  {{ outlet }}
</div>
